.banner{
height: 400px;
background: url(../imgs/campo.futebol.jpg);
background-size: cover;
text-align: center;
overflow-y: auto;
overflow-x: auto;
}
.container {
    height: 100px;
    width: 80%;
    margin: auto;
}
.banner h1 {
    padding-top: 150px; /*corrigido*/
    margin: 0;
    font-size: 48px;
    color: red;
}

.banner p {
    font-weight: bold;
    color: black;
    font-size: 18px;
    padding-top: 50px;
}
.box{
    overflow: auto;
}
.box img{
    width: 100px; /*ajusta tamanho da imagem*/
}
.box .box-item{
    width: 33%;  /*ajusta o tamanho do box*/
    float: left; /* ajusta um do lado do outro */
    text-align: center;/*alinhar o texto*/
    margin-top: 50px; /*descer um pouco as boxs*/
}