.main{
    display: flex;/*define o display como flex*/
    align-items: center;/*alinha na horizontal */
    height: 72vh;/*define altura de background na tela*/
    justify-content: center;/*alinha na vertical */
    background: gray;/*define a cor de fundo*/
    width: 60vh;/*define a largura do background*/
    margin: 0 auto;/*adiciona margem automática para direita/esquerda*/
    border-radius: 100px;/*arredonda as bordas*/
}
.main-box{
    padding: 50px;/*adicionando preenchimento para todos os lados*/
    border-radius: 30px;/*arredondando a borda*/
}
.main-title{
    color: red;/*define a cor do texto*/
    letter-spacing: 5px;/*adiciona espaço entre as letras */
    transition: 0.5s;/*define a transição do elemento para 0.5segundos*/
    cursor: default;/*define o cursor como padrão*/
    text-align: center;/*alinha o texto no centro*/
    padding-top: 10vh;/*adiciona preenchimento para baixo*/
    font-size: 60px;/*define o tamanho da fonte*/
}
.main-box-title{
    text-align: center;/*alinhando o texto no centro */
    text-transform: uppercase;/*definindo a fonte maiúscula*/
    color: white;/*definindo a cor da fonte como branco*/
    letter-spacing: 2px;/*define espaçamento entre as letras*/
    margin-bottom: 2px;/*adiciona margem para baixo*/
}
.main-box-login, .main-box-cad{
    display: flex;/*definindo o display como flex*/
    flex-direction: column;/*definindo a direção do display para coluna */
    justify-content: center;/*alinhando verticalmente */
    align-items: center;/*alinhando horizontalmente */
}
.main-box-login-input, .main-box-cad-input{
    margin: 15px 0; /*adicionando 15px de margem para cima/baixo */
    padding: 5px 5px;/*adiciona 5px de padding para cima/baixo e esquerda/direita no input */
    border-radius: 15px;/*bordas redondas */
    outline: none; /*zerando as bordas */
    border: 3px solid red;/*tamanho  e cor das bordas dos inputs */
    width: 200px;/*define o tamanho dos input */
}
.main-box-login-button, .main-box-cad-button{
    margin-top: 9px;/*adicionando 20px de margem para cima */
    border-radius: 20px;/*arredondando a borda */
    color: white;/*definindo a cor do elemento para branco */
    background: red;/*definindo a cor de fundo do elemento */
    border: 3px solid whitesmoke;/*criando uma borda de 2px para todos os lados */
    width: 100%;/*definindo a largura do elemento com 100% do pai*/
    padding: 7px;/*adicionando padding de 5px para cima/baixo*/
    font-size: 15px; /*definindo o tamanho da fonte*/
    text-transform: uppercase;/*definindo a fonte como maiúscula*/
    letter-spacing: 3px;/*adicionando espaçamento entre as letras*/
    cursor: pointer;/*definindo o cursor do mouse como a "mãozinha"*/
    outline: none;/*retirando as bordas*/
    transition: 0.5s;/*definindo uma transição de 0.5 segundos*/
    text-align: center;
}
.main-box-login-button:hover, .main-box-cad-button:hover{
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);/*adicio sombra no elemento*/
    background:black;/*definindo uma cor de fundo*/
}
.span-button{
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}