.main{
    display: flex;/*define o display como flex*/
    align-items: center;/*alinha na horizontal */
    height: 65vh;/*define altura de background na tela*/
    justify-content: center;/*alinha na vertical */
    background: black;/*define a cor de fundo*/
    width: 60vh;/*define a largura do background*/
    margin: 11vh auto;/*adiciona margem automática para direita/esquerda*/
    border-radius: 100px;/*arredonda as bordas*/
}
.main-box{
    padding: 50px;/*adicionando preenchimento para todos os lados*/
    border-radius: 30px;/*arredondando a borda*/

}
.main-box-title{
    text-align: center;/*alinhando o texto no centro */
    text-transform: uppercase;/*definindo a fonte maiúscula*/
    color: white;/*definindo a cor da fonte como branco*/
    letter-spacing: 2px;/*define espaçamento entre as letras*/
    margin-bottom: 2px;/*adiciona margem para baixo*/
}
.main-box-login, .main-box-cad{
    display: flex;/*definindo o display como flex*/
    flex-direction: column;/*definindo a direção do display para coluna */
    justify-content: center;/*alinhando verticalmente */
    align-items: center;/*alinhando horizontalmente */
}
.main-box-login-input, .main-box-cad-input{
    margin: 1vh 0; /*adicionando 15px de margem para cima/baixo */
    padding: 1vh 2vh;/*adiciona 5px de padding para cima/baixo e esquerda/direita no input */
    border-radius: 15px;/*bordas redondas */
    outline: none; /*zerando as bordas */
    border: 3px solid red;/*tamanho  e cor das bordas dos inputs */
    width: 180px;/*define o tamanho dos inputs */
}
.main-box-login-button, .main-box-cad-button{
    margin-top: 2vh;/*adicionando margem para cima */
    border-radius: 20px;/*arredondando a borda */
    color: white;/*definindo a cor do texto do botão */
    background: red;/*definindo a cor de fundo do botão */
    border: 3px solid whitesmoke;/*criando borda no botão para todos os lados */
    width: 100%;/*definindo o comprimento do botão*/
    padding: 7px;/*definindo a largura do botão*/
    font-size: 15px; /*definindo o tamanho da fonte*/
    text-transform: uppercase;/*definindo a fonte como maiúscula*/
    letter-spacing: 3px;/*adicionando espaçamento entre as letras*/
    cursor: pointer;/*definindo o cursor do mouse como a "mãozinha"*/
    outline: none;/*retirando as bordas*/
    transition: 0.5s;/*definindo uma transição de 0.5 segundos*/
    text-align: center;
}
.main-box-login-button:hover, .main-box-cad-button:hover{
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);/*adicio sombra no elemento*/
    background:black;/*definindo uma cor de fundo*/
}
.span-button{
    color: whitesmoke; /*definido a cor do texto*/
    font-size: 2vh; /* definido tamanha da fonte do texto*/
    font-weight: bold;/*definidno a espessura da fonte*/
    cursor: pointer; /*definido o cursor como 'mãozinha'*/
}
.body{
    background-image: url(/imgs/corredor.jpg);
    background-repeat: no-repeat;
}